body { color: #607d8b; }

.m-0 { margin: 0 !important; }
.m-t-0 { margin-top: 0 !important; }
.m-t-5 { margin-top: 5px !important; }
.m-t-10 { margin-top: 10px !important; }
.m-t-15 { margin-top: 15px !important; }
.m-t-20 { margin-top: 20px !important; }
.m-t-30 { margin-top: 30px !important; }
.m-b-0 { margin-bottom: 0 !important; }
.m-b-5 { margin-bottom: 5px !important; }
.m-b-10 { margin-bottom: 10px !important; }
.m-b-15 { margin-bottom: 15px !important; }
.m-b-20 { margin-bottom: 20px !important; }
.m-b-30 { margin-bottom: 30px !important; }
.m-l-0 { margin-left: 0 !important; }
.m-l-5 { margin-left: 5px !important; }
.m-l-10 { margin-left: 10px !important; }
.m-l-15 { margin-left: 15px !important; }
.m-l-20 { margin-left: 20px !important; }
.m-l-30 { margin-left: 30px !important; }
.m-r-0 { margin-right: 0 !important; }
.m-r-5 { margin-right: 5px !important; }
.m-r-10 { margin-right: 10px !important; }
.m-r-15 { margin-right: 15px !important; }
.m-r-20 { margin-right: 20px !important; }
.m-r-xs-30 { margin-right: 30px !important; }
.pad {padding:1em}

.brand { 
	font-size: 2rem;
	font-weight: 700; 
	letter-spacing: 0.2rem;
	line-height: 65px;
	margin: 0;
	padding: 0 1.5rem;
}
.brand span { 
	font-weight: 100;
}
nav {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #0277bd;
    min-height: 65px;
    /*position: absolute;
    top: 0;
    width: 100%;
    padding: 30px 0 0;
    */
}

nav ul li .nav-sign-up {
    z-index: 0;
    margin-left: 15px;
    padding: 0 15px;
    line-height: 33px;
    letter-spacing: .5px;
    font-weight: 500;
    background-color: white;
    border: 2px solid white;
    color: #F62D51;
    border-radius: 90px;
}
.nav-bg { background: linear-gradient(50deg, HSLA(205, 62%, 44%, 1), #1de9b6);}

.hero {
    color: #fafafa;
    padding: 5px 0;
    background: linear-gradient(50deg, HSLA(205, 62%, 44%, 1), #1de9b6);
    width: 100%;
	min-height: 66.6666vh;
}
.hero p {
		font-size: 2rem;
		font-weight: 100; 
}

#sign-in { min-height: 66.6666vh; }
#sign-in .modal-header { padding: 3rem; }  